
<div class="row small-up-2 medium-up-3 large-up-5">
  <div class="column">
    <%= image_tag 'HTML.png', class:"thumbnail" %>
    <h5>HTML/CSS</h5>
  </div>
  <div class="column">
    <%= image_tag 'React.png', class:"thumbnail" %>
    <h5>React.js</h5>
  </div>
  <div class="column">
    <%= image_tag 'Javascript.png', class:"thumbnail" %>
    <h5>Javascript & JQuery</h5>
  </div>
  <div class="column">
    <%= image_tag 'Node.png', class:"thumbnail" %>
    <h5>Node.js & Express</h5>
  </div>
  <div class="column">
    <%= image_tag 'SQL.png', class:"thumbnail" %>
    <h5>SQL & NoSQL databases</h5>
  </div>
</div>



<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <%= image_tag 'UCI.jpg', class:"thumbnail" %>
    <h5>UC Irvine Full Stack Web development coding bootcamp</h5>
  </div>
  <div class="column">
    <%= image_tag 'CSS_Certificate.jpg', class:"thumbnail" %>
    <h5>CSS - The Complete Guide (incl. Flexbox, Grid & Sass)</h5>
  </div>
  <div class="column">
    <%= image_tag 'GitGIthub_Certificate.jpg', class:"thumbnail" %>
    <h5>Git & GitHub Masterclass</h5>
  </div>
  <div class="column">
    <%= image_tag 'RoR_Certificate.jpg', class:"thumbnail" %>
    <h5>The complete Ruby on Rails Developer Course</h5>
  </div>
</div>
