
<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <%= image_tag 'stock.png', class:"thumbnail-image" %>
    <h5>My Site</h5>
  </div>
  <div class="column">
    <%= image_tag 'messageme.png', class:"thumbnail-image" %>
    <h5>My Site</h5>
  </div>
  <div class="column">
    <%= image_tag 'alphablog.png', class:"thumbnail-image" %>
    <h5>My Site</h5>
  </div>
  <div class="column">
    <%= image_tag 'moodz.png', class:"thumbnail-image" %>
    <h5>My Site</h5>
  </div>
  <div class="column">
    <%= image_tag 'friendfinder.png', class:"thumbnail-image" %>
    <h5>My Site</h5>
  </div>
  <div class="column">
  <%= image_tag 'featured.png', class:"thumbnail-image" %>
    
  </div>
</div>

<hr>

<div class="row">
  <div class="medium-6 columns">
    <h3>Contact Me</h3>
    <p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.</p>
  </div>
  <div class="medium-6 columns">
    <form>
      <div class="form-icons">
        <div class="input-group">
          <span class="input-group-label">
          <i class="fa fa-user"></i>
          </span>
          <input class="input-group-field" type="text" placeholder="Full name">
        </div>

      <div class="input-group">
        <span class="input-group-label">
        <i class="fa fa-envelope"></i>
        </span>
        <input class="input-group-field" type="text" placeholder="Email">
      </div>

      <div class="input-group">
        <span class="input-group-label">
        <i class="fa fa-comment"></i>
        </span>
        <input class="input-group-field" type="text" placeholder="Message">
      </div>
      </div>
      <button class="button expanded" type="submit" value="Submit" id="submit-button">Submit</button>
    </form>
  </div>
</div>

<br>
<br>
