<header class="project-header">Here are some apps that I have built</header>


<div class="row small-up-2 medium-up-3 large-up-4">
  <div class="column">
    <%= image_tag 'stock.png', class:"thumbnail-image" %>
      <ul class="site-link">
        <a href="https://track-your-stocks.herokuapp.com" target="_blank" class="site-link-anchor"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>
      </ul class="site-link">
  </div>
  <div class="column">
    <%= image_tag 'messageme.png', class:"thumbnail-image" %>
      <ul class="site-link">
        <a href="https://whos-messaging-me.herokuapp.com" target="_blank" class="site-link-anchor"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>
      </ul class="site-link">
  </div>
  <div class="column">
    <%= image_tag 'alphablog.png', class:"thumbnail-image" %>
      <ul class="site-link">
        <a href="https://alpha-blog-ruiz.herokuapp.com" target="_blank" class="site-link-anchor"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>
      </ul>
  </div>
  <div class="column">
    <%= image_tag 'moodz.png', class:"thumbnail-image" %>
    <h5>My Site</h5>
  </div>
  <div class="column">
    <%= image_tag 'friendfinder.png', class:"thumbnail-image" %>
      <ul class="site-link">
        <a href="https://lit-anchorage-68444.herokuapp.com" target="_blank" class="site-link-anchor"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>
      </ul>
  </div>
  <div class="column">
    <%= image_tag 'featured.png', class:"thumbnail-image" %>
       <ul class="site-link">
        <a href="https://frankruiz13.github.io/Foundation_CSS/" target="_blank" class="site-link-anchor"><i class="fa fa-sticky-note" aria-hidden="true"></i></a>
      </ul>
  </div>
</div>


<br>
<br>
